<div class="profile-card">
    <div class="avatar-name">
        <img src="/images/av1.png" alt="avatar" class="profile-card__avatar">

        <div class="profile-card__name">
            <strong class="h6">Райан Гослинг</strong>
            <span class="subtitle">Raian.gosling</span>
        </div>
    </div>

    <div class="profile-card__discription">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque modi aliquid quisquam at rerum minus deserunt distinctio ipsam, molestiae in.
    </div>

    <div class="profile-card__tags">
        <div class="skill-tag">Angular</div>
        <div class="skill-tag">Java Script</div>
        <div class="skill-tag">React</div>
        <div class="skill-tag">Vue</div>
    </div>

    <div class="profile-card__acrion-buttons">
        <button class="btn">Подписаться</button>
    </div>
</div>


